aside {
  color: white;
}

aside h2 {
  color: #ffd54a;
  margin-bottom: 30px;
}

aside p {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

aside p:hover {
  background: #222;
  transform: translateX(5px);
}

main {
  min-height: 100vh;
}
