body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial, sans-serif;
}

.home {
  min-height: 100vh;
  background:
    linear-gradient(
      rgba(0,0,0,0.7),
      rgba(0,0,0,0.9)
    ),
    url("https://images.unsplash.com/photo-1518709268805-4e9042af9f23");

  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  text-align: center;
  max-width: 700px;
  padding: 40px;
}

h1 {
  font-size: 70px;
  letter-spacing: 15px;
  margin: 0;
}

h2 {
  color: #d4af37;
  letter-spacing: 5px;
}

p {
  font-size: 20px;
  line-height: 1.6;
  color: #ccc;
}

.buttons {
  margin-top: 40px;
}

button {
  background: transparent;
  border: 2px solid #d4af37;
  color: white;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background: #d4af37;
  color: black;
}
